@charset "UTF-8";
.reservation {
	margin-top: -145px;
    background: #ffb400;
}
.form-control {
	background: transparent !important;
	border: 1px solid black;
	border-radius: 0px;
	height: 52px !important;
}
form {
	justify-content: center;
}
form .fields .one-third {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
}
form .fields .two-third {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}
form .search-submit {
    width: 120px;
    margin-left: 20px;
    margin-right: 20px;
    background: #fff;
    border: 2px solid #fff;
    color: #404044;
}
.btn-primary:hover {
    color: #212529;
    background-color: #ffb400;
    border-color: #fff;
}
@media ( max-width : 992px) {
    form .fields .one-third {
        width: 100%;
    }
    form .fields .two-third {
        width: 100%;
    }
    .reservation {
        margin-top: 0;
    }
    .search-submit {
        margin-left: calc(50% - 60px) !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
