@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.sidebar {
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	padding-top: 30px;
	background-color: rgb(64, 64, 68);
	color: rgba(255, 255, 255, 0.5);
	transition: 0.5s;
	transition-property: left;
}

.sidebar .icon-bar {
	position: absolute;
	top: 10px;
	right: 20px;
}

#id-iconbar {
	display: none;
}

.sidebar .icon-bar img {
	width: 20px;
	height: 20px;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.5s;
	transition-property: opacity;
}

.sidebar .icon-bar img:hover {
	opacity: 1;
}

.sidebar .profile-image {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-bottom: 10px;
}

.sidebar h3 {
	margin-bottom: 30px;
}

.sidebar ul li {
	font-size: 18px;
	display: block;
	padding-left: 40px;
	line-height: 60px;
	text-decoration: none;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar ul li:hover {
	padding-left: 45px;
	background: rgba(255, 191, 0, 0.8);
	cursor: pointer;
}

.manager-active {
	background: rgba(146, 219, 222, 1);
}

.sidebar .icon {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	opacity: 0.8;
}

.content-manager {
	margin-left: 250px;
	min-height: 100vh;
	background-image: linear-gradient(#8b9da9, #fff6e4);
	box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
	transition: 0.5s;
	transition-property: margin;
}

#side-check {
	display: none;
}

#side-check:checked+.sidebar {
	left: -190px;
}

#side-check:checked+.sidebar #id-iconbar {
	display: block;
}

#side-check:checked+.sidebar #id-iconbarleft {
	display: none;
}

#side-check:checked+.sidebar header {
	display: none;
}

#side-check:checked+.sidebar ul {
	margin-top: 20px;
}

#side-check:checked+.sidebar ul li {
	margin-left: 170px;
}

#side-check:checked+.sidebar ul li span {
	display: none;
}

#side-check:checked+.sidebar .icon {
	width: 20px;
	height: 20px;
}

#side-check:checked ~ .content-manager {
	margin-left: 60px;
}

.infor-user {
	display: block;
}

fieldset {
	margin: 15px;
}

.top {
	margin-bottom: 20px;
}

.item-bandat {
	margin-bottom: 20px; border-radius : 2px;
	padding: 10px;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2);
	border-radius: 2px;
	transition: 0.8s;
}


.box img {
	margin-top: 5px;
	display: block;
	width: 150px;
	height: 120px;
	border-radius: 5px;
}

.content-detail-bandat {
	display: none;
}

.content-monan {
	display: inline-block;
	width: calc(100% - 80px);
}
.monan>div {
	margin-top: 5px;
    margin-bottom: 5px;
	padding: 5px;
}
.monan>div>img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	border-radius: 2px;
	vertical-align: top;
}
