@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.sidebar {
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	padding-top: 30px;
	background-color: rgb(64, 64, 68);
	color: rgba(255, 255, 255, 0.5);
	transition: 0.5s;
	transition-property: left;
}

.sidebar .icon-bar {
	position: absolute;
	top: 10px;
	right: 20px;
}

#id-iconbar {
	display: none;
}

.sidebar .icon-bar img {
	width: 20px;
	height: 20px;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.5s;
	transition-property: opacity;
}

.sidebar .icon-bar img:hover {
	opacity: 1;
}

.sidebar .profile-image {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-bottom: 10px;
}

.sidebar h3 {
	margin-bottom: 30px;
}

.sidebar ul li {
	font-size: 18px;
	display: block;
	padding-left: 40px;
	line-height: 60px;
	text-decoration: none;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar ul li:hover:not(.manager-active) {
	padding-left: 45px;
	background: rgba(255, 191, 0, 0.8);
	cursor: pointer;
}

.manager-active {
	pointer-events: none;
	background: rgba(146, 219, 222, 1);
}

.sidebar .icon {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	opacity: 0.8;
}

.content-manager {
	margin-left: 250px;
	min-height: 100vh;
	background-image: linear-gradient(#8b9da9, #fff6e4);
	box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
	transition: 0.5s;
	transition-property: margin;
}

#side-check {
	display: none;
}

#side-check:checked+.sidebar {
	left: -190px;
}

#side-check:checked+.sidebar #id-iconbar {
	display: block;
}

#side-check:checked+.sidebar #id-iconbarleft {
	display: none;
}

#side-check:checked+.sidebar header {
	display: none;
}

#side-check:checked+.sidebar ul {
	margin-top: 20px;
}

#side-check:checked+.sidebar ul li {
	margin-left: 170px;
}

#side-check:checked+.sidebar ul li span {
	display: none;
}

#side-check:checked+.sidebar .icon {
	width: 20px;
	height: 20px;
}

#side-check:checked ~ .content-manager {
	margin-left: 60px;
}

.infor-user {
	display: block;
}

fieldset {
	margin: 15px;
}

.top {
	margin-bottom: 20px;
}

.item-bandat, .item-cart-bandat {
	margin-bottom: 20px; border-radius : 2px;
	padding: 10px;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2);
	border-radius: 2px;
	transition: 0.8s;
}


.box img {
	margin-top: 5px;
	display: block;
	width: 150px;
	height: 120px;
	border-radius: 5px;
}

.content-detail-bandat {
	display: none;
}

.content-monan {
	display: inline-block;
	width: calc(100% - 80px);
}
.monan>div {
	margin-top: 5px;
    margin-bottom: 5px;
	padding: 5px;
}
.monan>div>img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	border-radius: 2px;
	vertical-align: top;
}
.item-cart-bandat .img{
    margin: 5px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
}
.item-cart-left * {
	margin-bottom: 10px;
}
.item-cart-left > .img-item-cart {
	width: 100%;
	height: 150px;
}
.item-cart-left button {
	display: inline-block;
	margin: 0 5px;
}
.item-cart-right .info-banan {
	margin-bottom: 10px;
}
.soGhe {
	margin-right: 20px;
}
.item-food-select {
	position: relative;
}
.item-food {
    margin: 5px;
}
.item-food .item-img{
	width: 60px;
    height: 60px;
    display: inline-block;
}
.item-food > .info-monan{
	display: inline-block!important;
}
.info-monan input {
	width: 30px;
}
span.cancel {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	right: 10px;
}
span.cancel:hover {
	cursor: pointer;
}
#search-bandat {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffb400;
    border-radius: 5px;
}
@media ( max-width : 768px){
	#search-bandat {
	   grid-template-columns: 100%;
       grid-row-gap: 10px;
	}
}
